#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.bg {
    position: absolute;
    top: -2rem;
    right: 2rem;
    z-index: -1;
    object-fit: contain;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 200;

}

.introName {
    color: yellow;

}

.exp {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.introLinks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    /* margin: 1rem 0;
    padding: 0; */
}

.introLinkImg {
    object-fit: contain;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
}

.introLink {
    margin-top: 1rem;
    margin-right: 1rem;
    object-fit: contain;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.introLink:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.introLink:active {
    color: #000
}

.introLink:active:after {
    background: transparent;
}

.introLink:hover:before {
    opacity: 1;
}

.introLink:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;

}

.btnImg {
    object-fit: cover;
    margin-right: 0.5rem;
    height: 2rem;
}

@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }





}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
    }

    .exp {
        font-size: 3.5vw;
        font-weight: 500;
    }

    .introPara {
        font-size: 2.5vw;
    }

}